@charset "utf-8";

.sub_visual { font-size: 5rem; color: #fff; text-align: center; background: url(../images/sub/sv_cs.jpg) no-repeat center; padding: 100px 0; }
.sub_visual h2 { font-weight: 400; text-transform: uppercase; }

.contents { padding: 150px 0; }

.notice form fieldset { display: flex; justify-content: flex-end; gap: 10px; }
.notice form select { padding: 5px; width: 80px; height: 30px; border: 1px solid #ccc; }
.notice form input[type="text"] { padding: 5px; width: 200px; border: 1px solid #ccc; }
.notice form input[type="submit"] { cursor: pointer; background: #333; color: #fff; width: 50px; }

.notice table { border-top: 1px solid #000; margin: 50px 0; }
.notice table th { border-bottom: 1px solid #ccc; padding: 20px; }
.notice table td { text-align: center; border-bottom: 1px solid #eee; padding: 15px; }
.notice table td.notice_title { text-align: left; }
.notice .paging { display: flex; gap: 5px; justify-content: center; }
.notice .paging li { border: 1px solid #ddd; width: 25px; text-align: center; }
.notice .paging li.last { border: 0; background: url(../images/sub/paging_first.png) no-repeat center; font-size: 0; cursor: pointer; }
.notice .paging li.prev { border: 0; background: url(../images/sub/paging_prev.png) no-repeat center; font-size: 0; cursor: pointer; }
.notice .paging li.next { border: 0; background: url(../images/sub/paging_next.png) no-repeat center; font-size: 0; cursor: pointer; }
.notice .paging li.first { border: 0; background: url(../images/sub/paging_last.png) no-repeat center; font-size: 0; cursor: pointer; }

.notice .paging li.on { border: 1px solid var(--sub-color); background: var(--sub-color); }
.notice .paging li.on a { color: #fff; }

@media (max-width:1024px) {
    .notice table tr :first-child { display: none; }
    .notice table tr :last-child { display: none; }
}

@media (max-width:768px) {
    .notice table td.notice_title { max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
}